<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>Marketplace | <%= pageName %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e823734a38.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/index.css">
	<link rel="icon" href="../../favicon.ico">

  </head>
  <body>

<body class="">
  <%- include('../partials/nav.ejs') %>

  <%- body %>

  <%- include('../partials/heads/foot.ejs') %>

</body>

</html>

