<% layout('layouts/boilerplate') %>

<div id="farmDiv"
    class="content-wrapper d-flex flex-column align-items-center justify-content-center p-5 w-100 h-100">

<%- include('../partials/farmCardView',{singleFarmData, capitalize}) %>

</div>