<%- include('./heads/head') %>
<%- include('nav') %>
<main id="content-wrapper" class="d-flex justify-content-center align-items-center flex-column vw-100 vh-100" >
<h1>Add a product</h1>
<form class="w-75 d-flex flex-column" action="/addProduct" method="post">
    <input class="mb-3" type="text" name="name" placeholder="product name" required= "true">
    <input class="mb-3" type="text" name="qty" placeholder="qty" required= "true">
    <input class="mb-3" type="text" name="price" placeholder="price per unit" required= "true">
    <label for="unit">Select a unit of measurement:</label>
    <select class="mb-3" id="unit"name="unit" required="true">
         <option>--Please select a unit of measurement--</option>
         <option>oz</option>
         <option>fl oz</option>
         <option>lbs</option>
         <option>item</option>
    </select>
    <label for="category">Select a category:</label>
    <select class="mb-3" id="category"name="category" required="true">
         <option>--Please select a category--</option>
         <option>fruit</option>
         <option>vegetable</option>
         <option>dairy</option>
        </select>
    <input class="btn btn-primary" type="submit" name="submit" value="submit" style="width: 100px;">

</form>
</main>



<%- include('foot') %>