<% layout('layouts/boilerplate') %>

<div class="mt-2 content-wrapper d-flex flex-column justify-content-between align-items-center p-5 h-100 w-100">
				 
	<h1 class="h1 fw-bold mb-5"> <%= capitalize(category) %> products </h1>
				 
	<div id="productDiv" class="h-auto w-100 d-flex flex-wrap flex-column flex-md-row justify-content-evenly align-items-center">
		<% for( let singleProduct of groceryProductData ) { %>
		<%- include('../partials/prodCardView',{singleProduct,capitalize}) %>
		<% } %>
	</div>


</div>

