<% layout('layouts/boilerplate') %>

<div class="mt-2 content-wrapper d-flex flex-column justify-content-between align-items-center p-5">
				 
	<h1 class="h1 fw-bold">Results for <%= capitalize(searchedProduct) %> </h1>
				 
	<div id="productDiv" class="h-auto w-100 d-flex flex-wrap flex-column flex-md-row justify-content-evenly align-items-center">
		<% if (groceryProductData.length !== 0) { %>
		 	<% for( let singleProduct of groceryProductData ) { %>
			
		<%- include('../partials/prodCardView',{singleProduct,capitalize}) %>
		<% } %>
		<% } else { %>
		 <h1 class="mt-5">Nothing found</h1>
		<% } %>
	

	</div>



</div>